<h1>Update Service</h1>
<%= form_tag "/insuranceservices/#{@insuranceservice.id}", method: :patch do %>

<div class="row">
  <label for="name">Service Name</label><br>
  <input id="name" type="text" name="name" size="30" value="<%= @insuranceservice.name %>">
</div>
<div class="row">
  <label for="description">Description</label><br>
  <textarea id="description" type="text" name="description" rows="10" cols="60" value="<%= @insuranceservice.description %>"></textarea> 
</div>
<div>
  Company name:
  <select name="company_id">
   <option selected="<%= @insuranceservice.company_id %>" disabled selected><%= @insuranceservice.company.name %></option>
   <% @companies.each do |company| %>
     <option value="<%= company.id %>"><%= company.name %></option>
   <% end %>
 </div>
 <div class="row">
  <input type="submit" value="Update">
</div>
<% end %>