
<h1>Your Request</h1>

<h2>Details</h2>

<p><%= @request.first_name %></p>
<p><%= @request.last_name %></p>
<p><%= @request.email %></p>
<p><%= @request.phone_number %></p>
<p><%= @request.description %></p>
