<div class="container">

  <div class="col-md-1"></div>
  <div class="col-md-10">
<h1>Update Company</h1>
<%= form_tag "/companies/#{@company.id}", method: :patch do %>
<div class="row">
  <label for="name">Company Name</label><br>
  <input id="name" type="text" name="name" size="30" value="<%= @company.name %>">
</div>
<div class="row">
  <label for="logo">Logo Url</label><br>
  <input id="logo" type="text" name="logo" size="30" value="<%= @company.logo%>">
</div>
<div class="row">
 <label for="description">Description</label><br>
 <textarea id="description" type="text" name="description" rows="10" cols="60" value="<%= @company.description %>"></textarea>
</div>
<div class="row">
    <label for="name">Address</label><br>
    <input id="address" type="text" name="address" size="30" value="<%= @company.address %>">
  </div>
  <div class="row">
    <label for="name">P.O.Box</label><br>
    <input id="pobox" type="text" name="pobox" size="30" value="<%= @company.pobox %>">
  </div>
  <div class="row">
    <label for="name">Email</label><br>
    <input id="email" type="email" name="email" size="30" value="<%= @company.email %>">
  </div>
  <div class="row">
    <label for="name">Phone Number</label><br>
    <input id="phone_number" type="text" name="phone_number" size="30" value="<%= @company.phone_number %>">
  </div>
<div class="row">
  <label for="user_email">Choose your email</label>
  <select name="user_id">
   <option selected="<%= @company.user_id %>" disabled selected>Select your option</option>
   <% @users.each do |user| %>
     <option id="name" type="text" name="user_id" size="30" value="<%= user.id %>"><%= user.email %></option>
   <% end %>
 </select>
</div>
<div class="row">
  <input type="submit" value="Update">
</div>
<% end %>
</div>
</div>