<div class="container">

  <div class="col-md-1"></div>
  <div class="col-md-10">
<h1>New Company</h1>


<% if @company.errors.any? %>
  <% @company.errors.full_messages.each do |message| %>
    <li class="model-errors"><%= message %></li>
  <% end %>
<% end %>

<%= form_tag "/companies", method: :post do %>
  <div class="row">
    <label for="name">Company Name</label><br>
    <input id="name" type="text" name="name" size="30">
  </div>
  <div class="row">
    <label for="name">Logo</label><br>
    <input id="logo" type="url" name="logo" size="30">
  </div>
  <div class="row">
    <label for="description">Description</label><br>
    <textarea id="description" type="text" name="description" rows="10" cols="60"></textarea> 
  </div>
  <div class="row">
  <label for="company_name">Choose your email</label>
  <select name="user_id">
   <option selected="<%= @company.user_id %>" disabled selected>Select your option</option>
   <% @users.each do |user| %>
     <option id="name" type="text" name="user_id" size="30" value="<%= user.id %>"><%= user.email %></option>
   <% end %>
 </select>
</div>
<div class="row">
    <input type="submit" value="Create">
  </div>
<% end %>
</div>
</div>